<div class="container">
    <div class="row">
        <div class="col">
            <h1>
              view contact  Page</h1>
            <!-- dummy data -->
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa asperiores veniam. Velit, veniam
                saepe quam tempore facilis magni repudiandae commodi assumenda, dignissimos nam molestiae non quaerat
                voluptas a error.
                Sint dolorem molestias itaque facere atque perferendis assumenda consequuntur, numquam libero minima
                culpa odit fugit, officiis, accusantium nisi excepturi vitae perspiciatis nam? Quos non voluptatibus,
                eos ab fugiat praesentium! Dolores.
                Fugiat totam exercitationem, sapiente illum consequatur est optio. Illum ipsa hic blanditiis cupiditate
                corporis necessitatibus perspiciatis ad magni iure voluptatibus alias adipisci, harum vel at aliquid cum
                facilis recusandae est.
                Deserunt tenetur possimus id reprehenderit laborum voluptate eligendi earum voluptas debitis rerum iure
                aut, voluptates enim, rem placeat sequi sint quidem accusamus! Doloribus quo nihil illum perferendis
                suscipit? Corrupti, eligendi.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-item-center">
        <div class="col-md-4">
            <img width="250px" height="250px" class="img-thumbnail" [src]="contact.photo"
            alt="contact image">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Name: <span class="fw-bolder">{{contact.name}}</span></li>
                <li class="list-group-item">email: <span class="fw-bolder">{{contact.email}}</span></li>
                <li class="list-group-item">mobile: <span class="fw-bolder">{{contact.mobile}}</span></li>
                <li class="list-group-item">company: <span class="fw-bolder">{{contact.company}}</span></li>
                <li class="list-group-item">title: <span class="fw-bolder">{{contact.title}}</span></li>
                <li class="list-group-item">group: <span class="fw-bolder">{{groupName}}</span></li>
            </ul>
        </div>

    </div>
</div>