<div class="container">
    <div class="row">
        <div class="col">
            <h1>
            Update contact Page</h1>
            <!-- dummy data -->
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsa asperiores veniam. Velit, veniam
                saepe quam tempore facilis magni repudiandae commodi assumenda, dignissimos nam molestiae non quaerat
                voluptas a error.
                Sint dolorem molestias itaque facere atque perferendis assumenda consequuntur, numquam libero minima
            </p>
        </div>
    </div>
</div>
<!-- for test -->
<pre>
    {{contact|json}}
</pre>
<div class="container mt-2  mb-5">
    <div class="row">
        <div class="col-md-8">
            <!-- form design -->
            <form #editContactForm="ngForm" class="border p-3">
                <div class="mb-2">
                    <input name="id" #id="ngModel" [(ngModel)]="contact.id"  placeholder="contact Id" type="text" class="form-control" required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "id.touched && id.invalid"  class="text-danger mb-2">Please enter a valid ID</div>
                <div class="mb-2">
                    <input name="name" #name="ngModel" [(ngModel)]="contact.name"   placeholder="contact name" type="text" class="form-control"required>
                </div> 
                  <!-- id validation message -->
                  <div *ngIf= "name.touched && name.invalid"  class="text-danger mb-2">Please enter a valid name</div>
                <div class="mb-2">
                    <input name="photo" #photo="ngModel" [(ngModel)]="contact.photo"  placeholder="contact image URL" type="text" class="form-control"required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "photo.touched && photo.invalid"  class="text-danger mb-2">Please enter a photo ID</div>
                <div class="mb-2">
                    <input name="mobile" minlength="10" maxlength="10" pattern="[0-9]*"  #mobile="ngModel" [(ngModel)]="contact.mobile"  placeholder="contact Mobile" type="text" class="form-control"required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "mobile.touched && mobile.invalid"  class="text-danger mb-2">Please enter a valid mobile no</div>
                <div class="mb-2">
                    <input name="email"  email #email="ngModel" [(ngModel)]="contact.email"   placeholder="contact E mail" type="text" class="form-control"required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "email.touched && email.invalid"  class="text-danger mb-2">Please enter a valid email</div>
                <div class="mb-2">
                     
                    <input name="company" #company="ngModel" [(ngModel)]="contact.company"   placeholder="contact Company" type="text" class="form-control"required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "company.touched && company.invalid"  class="text-danger mb-2">Please enter a valid company</div>
                <div class="mb-2">
                    <input name="title" #title="ngModel" [(ngModel)]="contact.title"  placeholder="contact Title" type="text" class="form-control"required>
                </div>
                  <!-- id validation message -->
                  <div *ngIf= "id.touched && id.invalid"  class="text-danger mb-2">Please enter a valid tittle</div>
                <div class="mb-2">
                    <select name="groupId" #groupId="ngModel" pattern="[0-9]" [(ngModel)]="contact.groupId " class="form-control">        
                     <option selected hidden disabled>Choose A group</option>
                        <option [value]="group.id" *ngFor="let group of allGroups">{{group.name}}</option>
                      
                    </select>
                </div>
                <div class="mb-2">
                    <input (click)="editContact(contact)" [disabled]="editContactForm.invalid"  type="button" value="Update" class="btn btn-success">
                    <a class="btn btn-warning ms-3" routerLink=""> Close</a>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <!-- image -->
            <img class="contact_image"
            [src]="contact.photo"
            alt="contact image">
        </div>
    </div>